.duelyst-actor-creator {
  &__preview-image {
    width: 192px;
  }
}

$preview-width: 128px;

.duelyst-preset-browser {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px;

  &__sidebar {
    flex-flow: column;
  }

  &__item-list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__preset-item-preview {
    margin: 10px;
    padding: 4px;
    width: $preview-width;
    height: $preview-width;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-shadow: 2px 2px black;

    h4 {
      padding: 0;
      margin: 0;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
